<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuyue.system.mapper.CyQueryConfMapper">
    
    <resultMap type="CyQueryConf" id="CyQueryConfResult">
        <result property="reportId"    column="report_id"    />
        <result property="reportCode"    column="report_code"    />
        <result property="reportDesc"    column="report_desc"    />
        <result property="sqlText"    column="sql_text"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCyQueryConfVo">
        select report_id, report_code, report_desc, sql_text, create_time from cy_query_conf
    </sql>

    <select id="selectCyQueryConfList" parameterType="CyQueryConf" resultMap="CyQueryConfResult">
        <include refid="selectCyQueryConfVo"/>
        <where>  
            <if test="reportCode != null  and reportCode != ''"> and report_code like concat('%', #{reportCode}, '%')</if>
            <if test="reportDesc != null  and reportDesc != ''"> and report_desc like concat('%', #{reportDesc}, '%')</if>
            <if test="sqlText != null  and sqlText != ''"> and sql_text = #{sqlText}</if>
            <if test="createTime != null  and createTime != ''"> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectCyQueryConfById" parameterType="Long" resultMap="CyQueryConfResult">
        <include refid="selectCyQueryConfVo"/>
        where report_id = #{reportId}
    </select>
        
    <insert id="insertCyQueryConf" parameterType="CyQueryConf" useGeneratedKeys="true" keyProperty="reportId">
        insert into cy_query_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportCode != null  and reportCode != ''">report_code,</if>
            <if test="reportDesc != null  and reportDesc != ''">report_desc,</if>
            <if test="sqlText != null  and sqlText != ''">sql_text,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportCode != null  and reportCode != ''">#{reportCode},</if>
            <if test="reportDesc != null  and reportDesc != ''">#{reportDesc},</if>
            <if test="sqlText != null  and sqlText != ''">#{sqlText},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCyQueryConf" parameterType="CyQueryConf">
        update cy_query_conf
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportCode != null  and reportCode != ''">report_code = #{reportCode},</if>
            <if test="reportDesc != null  and reportDesc != ''">report_desc = #{reportDesc},</if>
            <if test="sqlText != null  and sqlText != ''">sql_text = #{sqlText},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteCyQueryConfById" parameterType="Long">
        delete from cy_query_conf where report_id = #{reportId}
    </delete>

    <delete id="deleteCyQueryConfByIds" parameterType="String">
        delete from cy_query_conf where report_id in 
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
    
</mapper>