<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuyue.system.mapper.CyShowColsMapper">
    
    <resultMap type="CyShowCols" id="CyShowColsResult">
        <result property="id"    column="id"    />
        <result property="col"    column="col"    />
        <result property="colName"    column="col_name"    />
        <result property="code"    column="code"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectCyShowColsVo">
        select id, col, col_name, code, remarks from cy_show_cols
    </sql>

    <select id="selectCyShowColsList" parameterType="CyShowCols" resultMap="CyShowColsResult">
        <include refid="selectCyShowColsVo"/>
        <where>  
            <if test="col != null  and col != ''"> and col = #{col}</if>
            <if test="colName != null  and colName != ''"> and col_name like concat('%', #{colName}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectCyShowColsById" parameterType="Long" resultMap="CyShowColsResult">
        <include refid="selectCyShowColsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCyShowCols" parameterType="CyShowCols" useGeneratedKeys="true" keyProperty="id">
        insert into cy_show_cols
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="col != null  and col != ''">col,</if>
            <if test="colName != null  and colName != ''">col_name,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="col != null  and col != ''">#{col},</if>
            <if test="colName != null  and colName != ''">#{colName},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateCyShowCols" parameterType="CyShowCols">
        update cy_show_cols
        <trim prefix="SET" suffixOverrides=",">
            <if test="col != null  and col != ''">col = #{col},</if>
            <if test="colName != null  and colName != ''">col_name = #{colName},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCyShowColsById" parameterType="Long">
        delete from cy_show_cols where id = #{id}
    </delete>

    <delete id="deleteCyShowColsByIds" parameterType="String">
        delete from cy_show_cols where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>